services:
  app:
    build:
      context: ./docker/php
    volumes:
      - ./src:/var/www/html/src
    working_dir: /var/www/html/src

  nginx:
    image: nginx:1.25.3
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html/src
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0.26
    platform: linux/amd64
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
    ports:
      - "8080:80"
